// @import '../../../../../styles/index.less';
@import '../../../../../styles/mixins/common.less';


.parent {
    .container();
  }

.parent > div {
    .container-style();
    width: inherit;
    min-width: 172px;
    max-width: 700px;
  }

  .f-text {
      text-align: center;
  }


  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}