<!-- start view component -->
<div class="parent">
  <div class="child" id="vFont" #font>

    <div class="s-size">
      <div class="column">
        <!-- heading text -->
        <h3>{{config.viewHeading}}</h3>
      </div>

      <div class="column col-1">
        <app-fonts [state]="font.id"></app-fonts>
      </div>
    </div>
    
    <small>
      <p>
        <!-- paragraph text -->
        {{config.viewsubHeading}}
      </p>
      <p>&nbsp;</p>
    </small>
    <!-- spinner -->
    <div *ngIf="loading" class="loader"></div>
    <!-- table -->
    <table *ngIf="!loading">
      <thead>
        <tr>
          <th scope="col">{{config.viewFirstName}}</th>
          <th scope="col">{{config.viewLastName}}</th>
          <th scope="col">{{config.viewUsername}}</th>
          <th scope="col">{{config.viewBirthday}}</th>
          <th scope="col">{{config.viewAddress}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of currentUsers">
          <td [attr.data-label]="config.viewFirstName">{{user.firstName}}</td>
          <td [attr.data-label]="config.viewLastName">{{user.lastName}}</td>
          <td [attr.data-label]="config.viewUsername">{{user.username}}</td>
          <td [attr.data-label]="config.viewBirthday">{{user.birthday | date}}</td>
          <td [attr.data-label]="config.viewAddress">{{user.address != '' ? user.address : 'N/A'}}</td>
        </tr>
      </tbody>
    </table>
    <!-- end table -->
  </div>
</div>
<!-- end view component -->