@import '../../../../../styles/mixins/common.less';
@import '../../../../../styles/mixins/table.less';


.parent {
    
  .container();

    & .child {
      width: inherit;
      min-width: 172px;
      max-width: 824px;
      overflow-y: auto;

      .f-rem;

      .container-padd;

      .border(@primary-color);

      & .s-size {
         .head-div-align;

        & h3 {
          font-size: @font-size-h3;
        }
      }
    }
  }  
  
  // handling parent div font size
  .f-rem {
    font-size: 1.2rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    .border(@color-fourth);
    text-align: left;
    padding: 6px 12px;
  }
  
  tr:nth-child(even) {
    background-color: @color-fourth;
  }

  .table-responsive(@max-width: 760px, @min-device-width: 768px, @max-device-width: 1024px);
  .main-header-query(@max-width: 700px);

