<div class="parent">
  <div class="child" id="refId">

    <div class="s-size">
      <div class="column">
        <h3>{{config.message.viewHeading}}</h3>
      </div>

      <div class="column col-1">
        <app-fonts [state]="cRef"></app-fonts>
      </div>
    </div>
    <!-- <h4>{{config.message.viewsubHeading}}</h4> -->
    <small>
      <p>
        This example demonstrates how to create a simple form layout his example demonstrates how to create a simple
        form layout
        his example demonstrates how to create a simple form layout his example demonstrates how to create a simple form
        layout
      </p>
      <p>&nbsp;</p>
    </small>
    <table role="table">
      <thead role="rowgroup">
        <tr role="row">
          <th role="columnheader">{{config.message.createFirstName}}</th>
          <th role="columnheader">{{config.message.createLastName}}</th>
          <th role="columnheader">{{config.message.createEmail}}</th>
          <th role="columnheader">{{config.message.createBirthday}}</th>
          <th role="columnheader">Gender</th>
        </tr>
      </thead>
      <tbody role="rowgroup">
        <tr role="row">
          <td role="cell">James</td>
          <td role="cell">Matman</td>
          <td role="cell">Chief Sandwich Eater</td>
          <td role="cell">Lettuce Green</td>
          <td role="cell">Trek</td>
        </tr>
        <tr role="row">
          <td role="cell">James</td>
          <td role="cell">Matman</td>
          <td role="cell">Chief Sandwich Eater</td>
          <td role="cell">Lettuce Green</td>
          <td role="cell">Trek</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>