// base colors
// @primary-color:    #2f8dff;
@primary-color:    #005086;
@info-color      : #E6F7FF;
@success-background-color   : #F6FFED;
@error-background-color: #FBEAEA;
@error-font-color: red;

// hover 
@primary-color-hover: #318fb5;

// main body background color
@body-background: #fff;

// Base background color for most components
@component-background: #fff;

@border-color-base   : hsv(0, 0, 85%);

// input 
@input-hover-border-color: @primary-color;
@input-border-color: @border-color-base;
@input-bg: @component-background;

//form
@form-border: #cccc;
@input-focus-background: #fafafa;
@form-background-color: whitesmoke;
