@import '../../../../styles/variables.less';


.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    width: 100%;
    justify-content: space-between;
    background-color: @header-background;
}

.user-name {
    padding: 8px 16px;
    line-height: 16px;
    border: 1px dotted @primary-color;
    margin-right: 25px;
}

.close-icon {
    color: @primary-color;
    font-size: 22px;
    cursor: pointer;
    padding-left: 16px;
    line-height: 36px;
}

@media screen and (max-width: @medium-screen) {
    .user-name {
        display: 2px 2px;
        margin-right: 0px;
    }
}