@import '../../../../styles/variables.less';

.header {
    overflow: hidden;
    background-color: @header-background;
    padding: 5px 2.5px;
    font-size: @header-text-size;
}
.align-h-items {
    display: inline-block;
}

.user-name {
    float: left;
    text-align: center;
    padding: 12px 25px;
    line-height: 12px;
    border: 1px dotted @primary-color;
    margin-right: 25px;
}

.close-icon {
    color: @primary-color;
    font-size: 22px;
    cursor: pointer;
    padding-left: 16px;
    line-height: 36px;
}

// .header p:hover {
//     cursor: pointer;
// }

.header-right {
    float: right;
}

@media screen and (max-width: @small-screen) {
    .user-name {
        // padding: 3px 6px;
        // line-height: 28px;
          display: none;
    }
}