<!-- start side nav component -->
<div class="sidebar" [ngClass]="{'open' : isToggled}">
  <nav>
    <h3 class="sidNav-heading">{{config.loginText}}</h3>
    <ul>
      <li>
        <a routerLink="/home/start" routerLinkActive='active-item'>{{config.sideNavHome}}</a>
      </li>
      <li>
        <a routerLink="/home/users" routerLinkActive='active-item'>{{config.sideNavView}}</a>
      </li>
      <li>
        <a [routerLink]="['/home/user', currentUser.id]"
          routerLinkActive='active-item'>{{config.sideNavCreate}}</a>
      </li>
      <br>
      <li>
        <a routerLink="#" (click)="logout()">{{config.signOut}}</a>
      </li>
    </ul>
  </nav>
</div>
<!-- end side nav component -->