<!-- Begin App  -->

<div class="container">

  <!-- home-side-menu component -->
  <home-side-menu [currentUser]="currentUser" (signOut)="logout()" [isToggled]="isToggled"></home-side-menu>

  <div class="content">

    <!-- hoem-header component -->
    <home-header [currentUser]="currentUser" (toggled)="toggled($event)"></home-header>

    <div class="main">
      <!-- BEGIN Page Content -->

        <router-outlet></router-outlet>

      <!-- END Page Content -->
  </div>
</div>

<!-- End App -->