@import '../../../../styles/index.less';

// center the div vertically, horizontally
.center-s {
  .page-center(@bg-color: @login-background);
}

// form container
.form-s {
  background-color: @login-div-background;
  width: 320px;
  height: 340px;
  padding: 12px 6px;
}

// main form
form {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  .flex(@flex: column);
}

.h-div {
  padding: 12px 6px;
}

// form field divs
.form-group {
  width: 90%;
  justify-content: center;
  margin-bottom: 10px;
  .flex(@flex: column);
}

// spinner
.loader {
  .spinner(@top: 46%, @left: 48%);
}

// login button
button {
  .btn(@width: 100%)
}