
<!-- <div class="container">
    <h2>Welcome to the Application</h2>
    <h4>welcome dd all page content inside this div if you want the side nav to push page content to the right
        dd all page content inside this div if you want the side nav to push page content to the right
        dd all page content inside this div if you want the side nav to push page content to the right
        dd all page content inside this div if you want the side nav to push page content to the right
        dd all page content inside this div if you want the side nav to push page content to the right
        dd all page content inside this div if you want the side nav to push page content to the right
        dd all page content inside this div if you want the side nav to push page content to the right
        dd all page content inside this div if you want the side nav to push page content to the right
        dd all page content inside this div if you want the side nav to push page content to the right
        dd all page content inside this div if you want the side nav to push page content to the right
    </h4>
</div> -->

<div id="container">

    <div class="wrapper">
        <h4>welcome dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
        </h4></div>
 
 </div>