<!-- <h2>How To Create A Loader</h2>

<div class="container">
  <h3>Overlay over this div</h3>
  <div id="overlay">
      <div class="loader"></div>
  </div>
<div> -->

 <div class="center-s">


    <div class="form-s">
        <div class="loader"></div>
        <h4>welcome dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
            dd all page content inside this div if you want the side nav to push page content to the right
        </h4>
    </div>
  
  
  </div>