@import '../variables.less';

//basic layout mixin for each component
.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; // Align Items Horizontally
}

.container-padd {
  padding: 20px 15px;
}

.flex(@flex) {
  display: flex;
  flex-direction: @flex;
}

.form-err {
  color: @error-font-color;
  font-size: 14px;
}

// headings
.heading {
  color: @color-secondary;
  line-height: 14px;
  padding-bottom: 12px;
  text-align: center;
}

.border(@color) {
  border: 1px solid @color;
}

.dotted-border(@color) {
  border: 1px solid @color;
}

// align header for components

.head-div-align {
  display: flex;
  justify-content: flex-end;
  padding: 15px 2px;
  height: auto;
}

.main-header-query(@max-width){
  @media only screen and (max-width: @max-width) {
    .s-size {
      text-align: center;
      flex-direction: column;
    }
  }
}