<!--start log in form -->
<div class="parent">
    <div>
        <h4 class="f-heading">Register New User</h4>
        <div class="form-inline">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div *ngIf="error" class="error-notify">{{error}}</div>

                <label>{{config.message.createFirstName}}:</label>
                <input placeholder="Enter FirstName" formControlName="firstName" type="text"
                    required />

                <div *ngIf="firstName.touched && firstName.invalid" class="form-val-error">
                    <div *ngIf="firstName.hasError('required')">Username is required</div>
                    <div *ngIf="firstName.hasError('cannotContainSpace')">Username cannot contain space</div>
                    <div *ngIf="firstName.hasError('minlength')">Username should be atleast
                        {{firstName.errors.minlength.requiredLength}} characters.</div>
                    <div *ngIf="firstName.hasError('maxlenght')">Username cannot be more than
                        {{firstName.errors.minlength.requiredLength}} charaters.</div>
                </div>

                <label>{{config.message.createLastName}}:</label>
                <input placeholder="Enter LastName" type="text" formControlName="lastName"
                    required />

                <div *ngIf="lastName.touched && lastName.invalid" class="form-val-error">
                    <div *ngIf="lastName.hasError('required')">lastName is required</div>
                    <div *ngIf="lastName.hasError('cannotContainSpace')">lastName cannot contain space</div>
                    <div *ngIf="lastName.hasError('minlength')">lastName should be atleast
                        {{lastName.errors.minlength.requiredLength}} characters.</div>
                    <div *ngIf="lastName.hasError('maxlenght')">lastName cannot be more than
                        {{lastName.errors.minlength.requiredLength}} charaters.</div>
                </div>

                <label>{{config.message.createEmail}}:</label>
                <input placeholder="Enter Email-ID" type="email" formControlName="email"
                    required />


                <label>{{config.message.createBirthday}}:</label>
                <input placeholder="Enter Date of Birth" type="date" formControlName="birthday"
                    required />

                <label>{{config.message.createAdress}}</label>
                <textarea placeholder="Address is optional" formControlName="address"
                    required></textarea>

                <label>&nbsp;</label>
                <button class="button" type="submit"
                    [ngStyle]="{'cursor':!registrationForm.valid ? 'not-allowed' : 'pointer' }"
                    [value]="loading ? 'Logining' : 'Login'">Submit</button>
                <button>Reset</button>

            </form>
        </div>
    </div>
</div>
<!--end log in form -->