<!--start log in form -->
<div class="parent">
    <div class="child" id="cFont">
        <div class="s-size">
            <div>
                <h3>{{config.message.startHeading}}</h3>
                <small>
                    <p>
                        This example demonstrates how to create a simple form layout that can responsively expand and
                        stack depending on the width of the page.
                    </p>
                    <p>&nbsp;</p>
                </small>
            </div>

            <div class="fonts-btn">
                <!-- fonts shared compoenent -->
                <app-fonts [state]="cRef"></app-fonts>
            </div>
        </div>
        <hr>

        <form [formGroup]="rf" (ngSubmit)="onSubmit(rf.value)">
            <div *ngIf="loading">
                <div  class="loader"></div>
            </div>
            
            <div *ngIf="error" class="error-notify">{{error}}</div>

            <div class="form-group">
                <label>{{config.message.createFirstName}}:</label>
                <div class="form-subGroup">
                    <input placeholder="Enter Email-ID" type="email" formControlName="firstName" class="input-control"
                        required />
                    <!-- errors generic compoenent -->
                    <app-show-errors [ctrl]="rf.get('firstName')"></app-show-errors>
                </div>

                <label class="right-inline">{{config.message.createLastName}}:</label>
                <div class="form-subGroup" >
                    <input placeholder="Enter Email-ID" type="email" formControlName="lastName" class="input-control"
                        required />
                    <!-- errors generic compoenent -->
                    <app-show-errors [ctrl]="rf.get('lastName')"></app-show-errors>
                <!-- </div> -->
            </div>
            </div>

            <div class="form-group">
                <label>{{config.message.createEmail}}:</label>
                <div class="form-subGroup">
                    <input placeholder="Enter Email-ID" type="email" formControlName="email" class="input-control"
                        required />
                    <!-- errors generic compoenent -->
                    <app-show-errors [ctrl]="rf.get('email')"></app-show-errors>
                </div>

                <label class="right-inline">{{config.message.createLastName}}:</label>
                <div class="form-subGroup" >
                    <input placeholder="Enter Email-ID" type="date" formControlName="birthday" class="input-control"
                        required />
                    <!-- errors generic compoenent -->
                    <app-show-errors [ctrl]="rf.get('birthday')"></app-show-errors>
                <!-- </div> -->
            </div>
            </div>

        
            <div class="form-group">
                <label>{{config.message.createAdress}}</label>
                <!-- address is optional -->
                <div class="form-subGroup" >
                <textarea placeholder="Address is optional" formControlName="address" class="input-control"></textarea>
                    </div>
        </div>

            <div class="form-group">
                <label>&nbsp;</label>
                <button class="button" type="submit" [ngStyle]="{'cursor':!rf.valid ? 'not-allowed' : 'pointer' }"
                    [value]="loading ? 'Logining' : 'Login'">Submit</button>
                <button class="button">Reset</button>
            </div>
        </form>
    </div>
</div>
<!--end log in form -->