<!--start log in form -->
<div class="parent">
    <div class="child" id="cFont">
        <div class="s-size">
            <div class="column">
                <h3>{{config.message.createHeading}}</h3>
            </div>

            <div class="fonts-btn column col-1">
                <!-- fonts shared compoenent -->
                <app-fonts [state]="cRef"></app-fonts>
            </div>
        </div>

        <small>
            <p>
               {{config.message.createSubHeading}}
            </p>
            <p>&nbsp;</p>
        </small>
        
        <hr>

        <form [formGroup]="rf" (ngSubmit)="onSubmit(rf.value)">
            <div *ngIf="loading"  class="spinner"></div>
            
            <div *ngIf="error" class="error-notify">{{error}}</div>

            <div class="form-group">
                <label>{{config.message.createFirstName}}:<span>*</span></label>
                <div class="form-subGroup" style="flex-grow: 5">
                    <input placeholder="Enter firstName" type="text" formControlName="firstName" class="input-control"
                        required />
                    <!-- errors generic compoenent -->
                    <app-show-errors [ctrl]="rf.get('firstName')"></app-show-errors>
                </div>

                <label class="right-inline">{{config.message.createLastName}}:<span>*</span></label>
                <div class="form-subGroup" style="flex-grow: 5">
                    <input placeholder="Enter lastName" type="text" formControlName="lastName" class="input-control"
                        required />
                    <!-- errors generic compoenent -->
                    <app-show-errors [ctrl]="rf.get('lastName')"></app-show-errors>
                <!-- </div> -->
            </div>
            </div>

            <div class="form-group">
                <label>{{config.message.createEmail}}:<span>*</span></label>
                <div class="form-subGroup" style="flex-grow: 5">
                    <input placeholder="Enter Email-ID" type="email" formControlName="email" class="input-control"
                        required />
                    <!-- errors generic compoenent -->
                    <app-show-errors [ctrl]="rf.get('email')"></app-show-errors>
                </div>

                <label class="right-inline">{{config.message.createBirthday}}:<span>*</span></label>
                <div class="form-subGroup" style="flex-grow: 5">
                    <input placeholder="Enter Email-ID" type="date" formControlName="birthday" class="input-control"
                        required />
                    <!-- errors generic compoenent -->
                    <app-show-errors [ctrl]="rf.get('birthday')"></app-show-errors>
                <!-- </div> -->
            </div>
            </div>

        
            <div class="form-group">
                <label style="flex-grow: 0">{{config.message.createAdress}}</label>
                <!-- address is optional -->
                <div class="form-subGroup" style="flex-grow: 10">
                <textarea placeholder="Address is optional" formControlName="address" class="input-control"></textarea>
                    </div>
        </div>

            <div class="form-group">
                <label>&nbsp;</label>
                <button type="submit" 
                [ngStyle]="{'cursor':!rf.valid ? 'not-allowed' : 'pointer' }"
                >{{loading ? 'Submiting' : 'Submit'}}</button>
                <button>Reset</button>
            </div>
        </form>
    </div>
</div>
<!--end log in form -->